<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attendance">
      <h2 data-cy="attendanceDetailsHeading"><span jhiTranslate="qldvApp.attendance.detail.title">Attendance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="qldvApp.attendance.id">Id</span></dt>
        <dd>
          <span>{{ attendance.id }}</span>
        </dd>
        <dt><span jhiTranslate="qldvApp.attendance.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ attendance.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="qldvApp.attendance.inTime">In Time</span></dt>
        <dt><span jhiTranslate="qldvApp.attendance.note">Note</span></dt>
        <dd>
          <span>{{ attendance.note }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attendance', attendance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
