<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="employee">
      <h3 data-cy="employeeDetailsHeading" style="margin-top: 12px"><span>Nhân viên</span></h3>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Mã nhân viên</span>
            <span>{{ employee.codeEmployee }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Họ và tên</span>
            <span>{{ employee.name }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Ngày sinh</span>
            <span>{{ employee.birthday | formatMediumDate }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Căn cước công dân</span>
            <span>{{ employee.otherId }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Trạng thái</span>
            <span>{{ employee.status }}</span>
          </div>
        </div>

        <div class="col-md-4">
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Số điện thoại cá nhân</span>
            <span>{{ employee.mobilePhone }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Số điện thoại công việc</span>
            <span>{{ employee.workPhone }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Email cá nhân</span>
            <span>{{ employee.privateEmail }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Email công việc</span>
            <span>{{ employee.workEmail }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Địa chỉ</span>
            <span>{{ employee.address }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Ngày vào làm việc</span>
            <span>{{ employee.startDate | formatDateVnPipe }}</span>
          </div>
          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Phòng ban</span>
            <span>{{ departmentName(employee.department) }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Loại hình dịch vụ</span>
            <span>{{ serviceTypeName(employee.serviceType) }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Vùng</span>
            <span>{{ employee.region }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Cấp</span>
            <span>{{ employee.rank }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px; flex-wrap: wrap">
            <span style="margin-right: 10px; font-weight: bold">Lương cơ bản</span>
            <span>{{ employee.basicSalary }}</span>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px; margin-bottom: 30px">
        <button type="submit" (click)="previousState()" class="btn btn-info btn-sm" data-cy="entityDetailsBackButton ">
          &nbsp;<span>Quay lại</span>
        </button>
        <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm">
          <span>Sửa</span>
        </button>
      </div>
    </div>
  </div>
</div>
