<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 id="jhi-attendance-heading" data-cy="AttendanceCreateUpdateHeading" class="mb-0">Bảng lương</h3>
    <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary btn-sm">
      <span>Lưu</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="form-label" for="field_nameSalary">Tên bảng lương</label>
      <input
        [readOnly]="true"
        type="text"
        class="form-control"
        name="nameSalary"
        id="field_nameSalary"
        data-cy="nameSalary"
        formControlName="nameSalary"
      />
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="field_month">Tháng</label>
          <select
            style="pointer-events: none; background-color: #e9ecef"
            class="form-select"
            id="field_month"
            formControlName="month"
            data-cy="month"
            name="month"
          >
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
            <option [value]="6">6</option>
            <option [value]="7">7</option>
            <option [value]="8">8</option>
            <option [value]="9">9</option>
            <option [value]="10">10</option>
            <option [value]="11">11</option>
            <option [value]="12">12</option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="field_year">Năm</label>
          <input [readOnly]="true" type="text" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>
      </div>
    </div>
    <div class="col-md-3" style="">
      <div class="col-md-6">
        <label class="form-label" for="field_nameSalary">Số ngày làm việc trong tháng</label>
        <input
          [readOnly]="true"
          type="text"
          class="form-control"
          name="nameSalary"
          id="field_numberWork"
          data-cy="numberWork"
          formControlName="numberWork"
        />
      </div>
    </div>
  </div>
</form>
<div class="text-end">
  <button (click)="exportToExcel()" class="btn btn-secondary ml-2 btn-sm">
    <span>Export</span>
  </button>
</div>
<div class="table-responsive" id="entities" style="border-top: 1px solid; margin-top: 20px">
  <table class="table table-hover" aria-describedby="page-heading">
    <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" style="width: 5%" jhiSortBy="id"><span>STT</span></th>
        <th scope="col" style="width: 10%"><span>Tên nhân viên</span></th>
        <th style="width: 20%" scope="col"><span>Lương cơ bản</span></th>
        <th scope="col"><span>Số ngày nhận lương</span></th>
        <th scope="col"><span>Phụ cấp</span></th>
        <th scope="col"><span>Lương khuyến khích</span></th>
        <th scope="col"><span>Thành tiền</span></th>
        <th style="width: 6%" class="text-center" scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody style="border-top: 1px solid">
      <tr *ngFor="let salaryDetail of salaryDetails; trackBy: trackId; let i = index" data-cy="entityTable">
        <td>{{ i + 1 }}</td>
        <td>{{ employeeName(salaryDetail.employeeId) }}</td>
        <td>{{ salaryDetail.basicSalary }}</td>
        <td>{{ salaryDetail.numberWorking }}</td>
        <td>{{ salaryDetail.allowance }}</td>
        <td>{{ salaryDetail.incentiveSalary }}</td>
        <td>{{ salaryDetail.amount }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" (click)="edit(salaryDetail)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
            </button>

            <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngFor="let l of newArr(10 - salaryDetails.length)">
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
        <td class="text-center empty-row"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="salaryDetails && salaryDetails.length > 0" class="d-flex justify-content-end">
  <div class="p-3 d-flex" style="justify-content: space-between">
    <select style="border-radius: 7%; height: 35px" [(ngModel)]="itemsPerPage" (change)="loadPage()">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
    <div style="font-size: 20px; margin-right: 15px">
      <span style="width: 170px; padding-left: 20px; font-size: 15px">Tổng số: {{ this.totalItems }} </span>
    </div>
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="ngbPaginationPage"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
      class=""
    ></ngb-pagination>
  </div>
</div>

<ng-template style="width: 300px" #addDetailSalary let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Chi tiết bảng lương</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form name="editForm" role="form" novalidate (ngSubmit)="saveDetail()" [formGroup]="editFormDetail">
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-3">
            <label class="form-label" for="field_employeeId">Nhân viên</label>
            <div class="input-group">
              <select class="form-select" id="field_employeeId" formControlName="employeeId" data-cy="employeeId" name="employeeId">
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{ employee.name }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_basicSalary">Lương cơ bản</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="basicSalary"
                id="field_basicSalary"
                data-cy="basicSalary"
                formControlName="basicSalary"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_numberWorking">Số ngày tính luương</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="numberWorking"
                id="field_numberWorking"
                data-cy="numberWorking"
                formControlName="numberWorking"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_allowance">Phụ cấp</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="allowance"
                id="field_allowance"
                data-cy="allowance"
                formControlName="allowance"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_incentiveSalary">Lương khuyến khích</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="incentiveSalary"
                id="field_incentiveSalary"
                data-cy="incentiveSalary"
                formControlName="incentiveSalary"
              />
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">
        <span>Đóng</span>
      </button>
      <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">
        <span>Lưu</span>
      </button>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
