<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 id="jhi-attendance-heading" data-cy="AttendanceCreateUpdateHeading" class="mb-0">Bảng lương</h3>
    <!--    <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary btn-sm">-->
    <!--      <span>Lưu</span>-->
    <!--    </button>-->
  </div>
  <div class="row">
    <div class="col-md-3">
      <label class="form-label" for="field_nameSalary">Tên bảng lương</label>
      <input
        [readOnly]="true"
        type="text"
        class="form-control"
        name="nameSalary"
        id="field_nameSalary"
        data-cy="nameSalary"
        formControlName="nameSalary"
      />
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="field_month">Tháng</label>
          <select
            style="pointer-events: none; background-color: #e9ecef"
            class="form-select"
            id="field_month"
            formControlName="month"
            data-cy="month"
            name="month"
          >
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
            <option [value]="6">6</option>
            <option [value]="7">7</option>
            <option [value]="8">8</option>
            <option [value]="9">9</option>
            <option [value]="10">10</option>
            <option [value]="11">11</option>
            <option [value]="12">12</option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="field_year">Năm</label>
          <input [readOnly]="true" type="text" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>
      </div>
    </div>
    <div class="col-md-3" style="">
      <div class="col-md-6">
        <label class="form-label" for="field_nameSalary">Số ngày làm việc trong tháng</label>
        <input
          [readOnly]="true"
          type="text"
          class="form-control"
          name="nameSalary"
          id="field_numberWork"
          data-cy="numberWork"
          formControlName="numberWork"
        />
      </div>
    </div>
  </div>
</form>
<!--<div class="text-end">-->
<!--  <button (click)="exportToExcel()" class="btn btn-secondary ml-2 btn-sm">-->
<!--    <span>Export</span>-->
<!--  </button>-->
<!--</div>-->
<div class="d-flex justify-content-end" *ngIf="isEdit === false">
  <button style="margin-right: 5px" (click)="exportToExcel()" class="btn btn-danger btn-sm">
    <span>Export</span>
  </button>
  <button style="margin-right: 5px" (click)="edit()" class="btn btn-secondary btn-sm">
    <span>Sửa</span>
  </button>
  <button (click)="close()" class="btn btn-dark btn-sm">
    <span>Đóng</span>
  </button>
</div>
<div class="d-flex justify-content-end" *ngIf="isEdit === true">
  <button style="margin-right: 5px" type="submit" class="btn btn-primary btn-sm" (click)="onSubmit()">
    <span>Lưu</span>
  </button>
  <button style="" (click)="close()" class="btn btn-dark btn-sm">
    <span>Đóng</span>
  </button>
</div>
<div *ngIf="salaryDetailsHTVP && salaryDetailsHTVP.length > 0">
  <form [formGroup]="form">
    <div class="d-flex justify-content-between">
      <span style="margin-top: 20px; margin-bottom: 20px; font-weight: bold; font-size: 17px">Dịch vụ chi trả theo thời gian</span>
    </div>
    <div style="max-height: 650px; width: 100%; overflow-x: auto; overflow-y: auto; white-space: nowrap">
      <table class="table lh-table-column--bytes table-bordered">
        <thead style="background-color: #3b3e66; color: white; position: sticky; top: 0; z-index: 1000">
          <tr>
            <th style="width: 50px; position: sticky; left: 0; z-index: 2; background: #3b3e66"><span>STT</span></th>
            <th style="min-width: 240px !important; position: sticky; left: 45px; z-index: 2; background: #3b3e66">
              <span>Nhân viên</span>
            </th>
            <th style="min-width: 90px !important">Điểm cung cấp dịch vụ</th>
            <th style="min-width: 300px !important">Chức danh</th>
            <th style="min-width: 90px !important">Vùng</th>
            <th style="min-width: 90px !important">Đơn giá dịch vụ</th>
            <th style="min-width: 90px !important">Số ngày thực hiện tiêu chuẩn</th>
            <th style="min-width: 90px !important">Số ngày thực hiện thực tế</th>
            <th style="min-width: 90px !important">Đơn giá dịch vụ thực tế</th>
            <th style="min-width: 90px !important">Mức chi trả tối thiểu</th>
            <th style="min-width: 90px !important">Xếp loại CLDV</th>
            <th style="min-width: 90px !important">Hệ số hoàn thành</th>
            <th style="min-width: 90px !important">Chi phí giảm trừ</th>
            <th style="min-width: 90px !important">Chi phí thuê dịch vụ</th>
            <th style="min-width: 90px !important">Ghi chú</th>
          </tr>
        </thead>
        <tbody formArrayName="details">
          <tr *ngFor="let detail of details.value; let i = index; trackBy: trackId" [formGroupName]="i">
            <td style="position: sticky; left: 0; z-index: 2; background: white">{{ i + 1 }}</td>
            <td style="position: sticky; left: 45px; z-index: 2; background: white">
              <select
                style="border: none; font-weight: 600"
                class="form-select"
                id="field_employeeId"
                formControlName="employeeId"
                data-cy="employeeId"
                name="employeeId"
              >
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{ employee.name }}</option>
              </select>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="diemCungCapDV"
                  id="field_diemCungCapDV"
                  data-cy="diemCungCapDV"
                  formControlName="diemCungCapDV"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chucDanh"
                  id="field_chucDanh"
                  data-cy="chucDanh"
                  formControlName="chucDanh"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="vung"
                  id="field_vung"
                  data-cy="vung"
                  formControlName="vung"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="donGiaDichVu"
                  id="field_donGiaDichVu"
                  data-cy="donGiaDichVu"
                  formControlName="donGiaDichVu"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorkInMonth"
                  id="numberWorkInMonth"
                  data-cy="numberWorkInMonth"
                  formControlName="numberWorkInMonth"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorking"
                  id="field_numberWorking"
                  data-cy="numberWorking"
                  formControlName="numberWorking"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="donGiaDichVuThucNhan"
                  id="donGiaDichVuThucNhan"
                  data-cy="donGiaDichVuThucNhan"
                  formControlName="donGiaDichVuThucNhan"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="mucChiToiThieu"
                  data-cy="mucChiToiThieu"
                  formControlName="mucChiToiThieu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <select
                  [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
                  class="form-select"
                  id="field_xepLoai"
                  formControlName="xepLoai"
                  data-cy="xepLoai"
                  name="xepLoai"
                >
                  <option [value]="'A'">A</option>
                  <option [value]="'B'">B</option>
                  <option [value]="'C'">C</option>
                </select>
                <!--                <input-->
                <!--                  [readOnly]="!isEdit"-->
                <!--                  style="border: none; outline: none; background: white"-->
                <!--                  type="text"-->
                <!--                  class="form-control"-->
                <!--                  name="xepLoai"-->
                <!--                  id="xepLoai"-->
                <!--                  data-cy="xepLoai"-->
                <!--                  formControlName="xepLoai"-->
                <!--                />-->
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="true"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="htc"
                  id="htc"
                  data-cy="htc"
                  formControlName="htc"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiGiamTru"
                  id="chiPhiGiamTru"
                  data-cy="chiPhiGiamTru"
                  formControlName="chiPhiGiamTru"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiThueDichVu"
                  id="chiPhiThueDichVu"
                  data-cy="chiPhiThueDichVu"
                  formControlName="chiPhiThueDichVu"
                />
              </div>
            </td>

            <!--          <td>-->
            <!--            <div class="input-group">-->
            <!--              <input-->
            <!--                [readOnly]="!isEdit"-->
            <!--                style="border: none; outline: none; background: white"-->
            <!--                type="text"-->
            <!--                class="form-control"-->
            <!--                name="note"-->
            <!--                id="note"-->
            <!--                data-cy="note"-->
            <!--                formControlName="note"-->
            <!--              />-->
            <!--            </div>-->
            <!--          </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div *ngIf="salaryDetailsAm && salaryDetailsAm.length > 0">
  <form [formGroup]="formAm">
    <div class="d-flex justify-content-between">
      <span style="margin-top: 20px; margin-bottom: 20px; font-weight: bold; font-size: 17px">Dịch vụ HTKD khách hàng doanh nghiệp</span>
    </div>
    <div style="max-height: 650px; width: 100%; overflow-x: auto; overflow-y: auto; white-space: nowrap">
      <table class="table lh-table-column--bytes table-bordered">
        <thead style="background-color: #3b3e66; color: white; position: sticky; top: 0; z-index: 1000">
          <tr>
            <th style="width: 50px; position: sticky; left: 0; z-index: 2; background: #3b3e66"><span>STT</span></th>
            <th style="min-width: 240px !important; position: sticky; left: 45px; z-index: 2; background: #3b3e66">
              <span>Nhân viên</span>
            </th>
            <th style="min-width: 90px !important">Địa bàn</th>
            <th style="min-width: 90px !important">Vùng</th>
            <th style="min-width: 90px !important">Mức lương cố định</th>
            <th style="min-width: 90px !important">Kpis</th>
            <th style="min-width: 90px !important">Lương có định thực thế</th>
            <th style="min-width: 90px !important">Đơn giá thuê dịch vụ</th>
            <th style="min-width: 90px !important">Số ngày thực hiện tiêu chuẩn</th>
            <th style="min-width: 90px !important">Số ngày thực hiện thực tế</th>
            <th style="min-width: 90px !important">Phí cố định đã thực hiện</th>
            <th style="min-width: 90px !important">Chi phí giảm trừ</th>
            <th style="min-width: 90px !important">Phí cố định thanh toán thực tế</th>
            <th style="min-width: 90px !important">Chi phí dịch vụ khoán và khuyến khích</th>
            <th style="min-width: 90px !important">Chi phí khuyến khích khác</th>
            <th style="min-width: 90px !important">Tổng chi phí khoán và khuyến khích</th>
            <th style="min-width: 90px !important">Phí dịch vụ thực tế</th>
            <th style="min-width: 90px !important">Ghi chú</th>
          </tr>
        </thead>
        <tbody formArrayName="detailsAm">
          <tr *ngFor="let detail of detailsAm.value; let j = index; trackBy: trackIdAm" [formGroupName]="j">
            <td style="position: sticky; left: 0; z-index: 2; background: white">{{ j + 1 }}</td>
            <td style="position: sticky; left: 45px; z-index: 2; background: white">
              <select
                style="border: none; font-weight: 600"
                class="form-select"
                formControlName="employeeId"
                data-cy="employeeId"
                name="employeeId"
              >
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{ employee.name }}</option>
              </select>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="diaBan"
                  data-cy="diaBan"
                  formControlName="diaBan"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="vung"
                  id="vung"
                  data-cy="vung"
                  formControlName="vung"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="mucChiToiThieu"
                  id="mucChiToiThieu"
                  data-cy="mucChiToiThieu"
                  formControlName="mucChiToiThieu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="kpis"
                  id="field_kpis"
                  data-cy="kpis"
                  formControlName="kpis"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="luongCoDinhThucTe"
                  id="luongCoDinhThucTe"
                  data-cy="luongCoDinhThucTe"
                  formControlName="luongCoDinhThucTe"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="donGiaDichVu"
                  id="donGiaDichVu"
                  data-cy="donGiaDichVu"
                  formControlName="donGiaDichVu"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorkInMonth"
                  data-cy="numberWorkInMonth"
                  formControlName="numberWorkInMonth"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorking"
                  data-cy="numberWorking"
                  formControlName="numberWorking"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="phiCoDinhDaThucHien"
                  id="phiCoDinhDaThucHien"
                  data-cy="phiCoDinhDaThucHien"
                  formControlName="phiCoDinhDaThucHien"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiGiamTru"
                  data-cy="chiPhiGiamTru"
                  formControlName="chiPhiGiamTru"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="phiCoDinhThanhToanThucTe"
                  id="phiCoDinhThanhToanThucTe"
                  data-cy="phiCoDinhThanhToanThucTe"
                  formControlName="phiCoDinhThanhToanThucTe"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiDichVuKhoanVaKK"
                  data-cy="chiPhiDichVuKhoanVaKK"
                  formControlName="chiPhiDichVuKhoanVaKK"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiKKKhac"
                  data-cy="chiPhiKKKhac"
                  formControlName="chiPhiKKKhac"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="tongChiPhiKVKK"
                  data-cy="tongChiPhiKVKK"
                  formControlName="tongChiPhiKVKK"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiThueDichVu"
                  data-cy="chiPhiThueDichVu"
                  formControlName="chiPhiThueDichVu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="note"
                  data-cy="note"
                  formControlName="note"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div *ngIf="salaryDetailsGDV && salaryDetailsGDV.length > 0">
  <form [formGroup]="formGDV">
    <div class="d-flex justify-content-between">
      <span style="margin-top: 20px; margin-bottom: 20px; font-weight: bold; font-size: 17px">Hỗ trợ kinh doanh tại cửa hàng</span>
    </div>
    <div style="max-height: 650px; width: 100%; overflow-x: auto; overflow-y: auto; white-space: nowrap">
      <table class="table lh-table-column--bytes table-bordered">
        <thead style="background-color: #3b3e66; color: white; position: sticky; top: 0; z-index: 1000">
          <tr>
            <th style="width: 50px; position: sticky; left: 0; z-index: 2; background: #3b3e66"><span>STT</span></th>
            <th style="min-width: 240px !important; position: sticky; left: 45px; z-index: 2; background: #3b3e66">
              <span>Nhân viên</span>
            </th>
            <th style="min-width: 90px !important">Đơn vị</th>
            <th style="min-width: 90px !important">Vùng</th>
            <th style="min-width: 90px !important">Cấp</th>
            <th style="min-width: 90px !important">Đơn giá thuê dịch vụ</th>
            <th style="min-width: 90px !important">Mức lương cố định</th>
            <th style="min-width: 90px !important">KPIs</th>
            <th style="min-width: 90px !important">Hct</th>
            <th style="min-width: 90px !important">Số ngày thực hiện tiêu chuẩn</th>
            <th style="min-width: 90px !important">Số ngày thực hiện thực tế</th>
            <th style="min-width: 90px !important">Phí cố định đã thực hiện</th>
            <th style="min-width: 90px !important">Lương cố định thực tế</th>
            <th style="min-width: 90px !important">Chi phí giảm trừ</th>
            <th style="min-width: 90px !important">Mức bổ sung lương tối thiểu vùng</th>
            <th style="min-width: 90px !important">Phí cố định thanh toán thực tế</th>
            <th style="min-width: 90px !important">Chi phí dịch vụ khoán và khuyến khích</th>
            <th style="min-width: 90px !important">Chi phí khuyến khích khác</th>
            <th style="min-width: 90px !important">Tổng chi phí khoán và khuyến khích</th>
            <th style="min-width: 90px !important">Phí dịch vụ thực tế</th>
            <th style="min-width: 90px !important">Ghi chú</th>
          </tr>
        </thead>
        <tbody formArrayName="detailsGDV">
          <tr *ngFor="let detail of detailsGDV.value; let k = index; trackBy: trackIdGDV" [formGroupName]="k">
            <td style="position: sticky; left: 0; z-index: 2; background: white">{{ k + 1 }}</td>
            <td style="position: sticky; left: 45px; z-index: 2; background: white">
              <select
                style="border: none; font-weight: 600"
                class="form-select"
                formControlName="employeeId"
                data-cy="employeeId"
                name="employeeId"
              >
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{ employee.name }}</option>
              </select>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="diaBan"
                  id="field_diaBan"
                  data-cy="diaBan"
                  formControlName="diaBan"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="vung"
                  data-cy="vung"
                  formControlName="vung"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="cap"
                  data-cy="cap"
                  formControlName="cap"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="donGiaDichVu"
                  data-cy="donGiaDichVu"
                  formControlName="donGiaDichVu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="mucChiToiThieu"
                  data-cy="mucChiToiThieu"
                  formControlName="mucChiToiThieu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="kpis"
                  data-cy="kpis"
                  formControlName="kpis"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="htc"
                  data-cy="htc"
                  formControlName="htc"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorkInMonth"
                  data-cy="numberWorkInMonth"
                  formControlName="numberWorkInMonth"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="numberWorking"
                  id="numberWorking"
                  data-cy="numberWorking"
                  formControlName="numberWorking"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="phiCoDinhDaThucHien"
                  data-cy="phiCoDinhDaThucHien"
                  formControlName="phiCoDinhDaThucHien"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="luongCoDinhThucTe"
                  data-cy="luongCoDinhThucTe"
                  formControlName="luongCoDinhThucTe"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiGiamTru"
                  data-cy="chiPhiGiamTru"
                  formControlName="chiPhiGiamTru"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="mucBSLuongToiThieuVung"
                  data-cy="mucBSLuongToiThieuVung"
                  formControlName="mucBSLuongToiThieuVung"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="phiCoDinhThanhToanThucTe"
                  data-cy="phiCoDinhThanhToanThucTe"
                  formControlName="phiCoDinhThanhToanThucTe"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiDichVuKhoanVaKK"
                  id="chiPhiDichVuKhoanVaKK"
                  data-cy="chiPhiDichVuKhoanVaKK"
                  formControlName="chiPhiDichVuKhoanVaKK"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiKKKhac"
                  id="chiPhiKKKhac"
                  data-cy="chiPhiKKKhac"
                  formControlName="chiPhiKKKhac"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="tongChiPhiKVKK"
                  id="tongChiPhiKVKK"
                  data-cy="tongChiPhiKVKK"
                  formControlName="tongChiPhiKVKK"
                />
              </div>
            </td>
            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="chiPhiThueDichVu"
                  data-cy="chiPhiThueDichVu"
                  formControlName="chiPhiThueDichVu"
                />
              </div>
            </td>

            <td>
              <div class="input-group">
                <input
                  [readOnly]="!isEdit"
                  style="border: none; outline: none; background: white"
                  type="text"
                  class="form-control"
                  name="note"
                  id="note"
                  data-cy="note"
                  formControlName="note"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<jhi-toast #toastSalary></jhi-toast>
