<nav class="navbar-vertical">
  <ul class="navbar-nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
        <span jhiTranslate="global.menu.home">Home</span>
      </a>
    </li>
    <li class="nav-item" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <a class="nav-link" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
        <span>Quản lý tài khoản</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee" routerLinkActive="active" (click)="collapseNavbar()">
        <span>Quản lý nhân viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="attendance" (click)="collapseNavbar()">
        <span>Quản lý chấm công</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="salary" (click)="collapseNavbar()">
        <span>Quản lý chi phí khoán</span>
      </a>
    </li>
    <li class="nav-item dropdown" [class.show]="isDropdownOpenLuong">
      <a class="nav-link dropdown-toggle" (click)="toggleDropdownLuong()">
        <span>Quản lý lương</span>
      </a>
      <ul class="dropdown-menu" [class.show]="isDropdownOpenLuong">
        <li>
          <a class="nav-link" routerLink="luong" (click)="collapseNavbarLuong()">
            <span>Quản lý lương đợt 1</span>
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="luongdot2" (click)="collapseNavbarLuong()">
            <span>Quản lý lương đợt 2</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown" [class.show]="isDropdownOpen">
      <a class="nav-link dropdown-toggle" (click)="toggleDropdown()">
        <span>Báo cáo</span>
      </a>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li>
          <a class="nav-link" routerLink="baocao" (click)="collapseNavbar()">
            <span>Báo cáo kpi/hct</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item hdsd">
      <a class="nav-link" href="./../../content/file/hdsd.docx" download (click)="collapseNavbar()">
        <span>Hướng dẫn sử dụng</span>
      </a>
    </li>
  </ul>
</nav>
