<nav class="navbar-vertical">
  <ul class="navbar-nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
        <fa-icon icon="home"></fa-icon>
        <span jhiTranslate="global.menu.home">Home</span>
      </a>
    </li>
    <li class="nav-item" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <a class="nav-link" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
        <fa-icon icon="user"></fa-icon>
        <span>Quản lý tài khoản</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee" routerLinkActive="active" (click)="collapseNavbar()">
        <fa-icon icon="user"></fa-icon>
        <span>Quản lý nhân viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="attendance" (click)="collapseNavbar()">
        <fa-icon icon="th-list"></fa-icon>
        <span>Quản lý chấm công</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="salary" (click)="collapseNavbar()">
        <fa-icon icon="th-list"></fa-icon>
        <span>Quản lý chi phí khoán</span>
      </a>
    </li>
    <li class="nav-item dropdown" [class.show]="isDropdownOpen">
      <a class="nav-link dropdown-toggle" (click)="toggleDropdown()">
        <fa-icon icon="th-list"></fa-icon>
        <span>Báo cáo</span>
      </a>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li>
          <a class="nav-link" routerLink="baocao" (click)="collapseNavbar()">
            <span>Báo cáo kpi/hct</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
