<div class="d-flex justify-content-center">
  <div class="col-10 border shadow-sm p-3 mb-3 rounded" style="margin-top: 50px; background-color: rgb(248 249 250)">
    <h4 style="margin-bottom: 30px" id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading">Nhân viên</h4>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="row">
        <!-- Cột 1 -->
        <div style="margin-left: 4%" class="col-md-3">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.codeEmployee" for="field_codeEmployee">Code Employee</label>
            <input
              type="text"
              class="form-control"
              name="codeEmployee"
              id="field_codeEmployee"
              data-cy="codeEmployee"
              formControlName="codeEmployee"
            />
            <div
              *ngIf="
                editForm.get('codeEmployee')!.invalid && (editForm.get('codeEmployee')!.dirty || editForm.get('codeEmployee')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('codeEmployee')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('codeEmployee')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.name" for="field_name">Họ và tên</label>
            <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.birthday" for="field_birthday">Ngày sinh</label>
            <input
              style="background-color: #fff"
              class="form-control"
              type="text"
              mwlFlatpickr
              data-cy="birthday"
              id="field_birthday"
              name="birthday"
              formControlName="birthday"
              [dateFormat]="'d-m-Y'"
              [convertModelValue]="true"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.otherId" for="field_otherId">Căn cước công dân</label>
            <input type="text" class="form-control" name="otherId" id="field_otherId" data-cy="otherId" formControlName="otherId" />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_diaBan">Địa bàn</label>
            <input type="text" class="form-control" name="diaBan" id="field_diaBan" data-cy="diaBan" formControlName="diaBan" />
          </div>
        </div>
        <div class="col-md-1"></div>
        <!-- Cột 2 -->
        <div class="col-md-3">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.mobilePhone" for="field_mobilePhone">Số điện thoại cá nhân</label>
            <input
              type="text"
              class="form-control"
              name="mobilePhone"
              id="field_mobilePhone"
              data-cy="mobilePhone"
              formControlName="mobilePhone"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.workPhone" for="field_workPhone">Số điện thoại công việc</label>
            <input type="text" class="form-control" name="workPhone" id="field_workPhone" data-cy="workPhone" formControlName="workPhone" />
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.workEmail" for="field_workEmail">Email công việc</label>
            <input type="text" class="form-control" name="workEmail" id="field_workEmail" data-cy="workEmail" formControlName="workEmail" />
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.privateEmail" for="field_privateEmail">Email cá nhân</label>
            <input
              type="text"
              class="form-control"
              name="privateEmail"
              id="field_privateEmail"
              data-cy="privateEmail"
              formControlName="privateEmail"
            />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_status">Trạng thái</label>
            <select class="form-select" id="field_status" formControlName="status" data-cy="status" name="status">
              <option [value]="'Đang làm việc'">Đang làm việc</option>
              <option [value]="'Nghỉ thai sản'">Nghỉ thai sản</option>
              <option [value]="'Nghỉ phép dài hạn'">Nghỉ phép dài hạn</option>
              <option [value]="'Nghỉ việc'">Nghỉ việc</option>
            </select>
          </div>
        </div>
        <div class="col-md-1"></div>
        <!-- Cột 3 -->
        <div class="col-md-3">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.department" for="field_department">Phòng ban</label>
            <select class="form-select" formControlName="department" data-cy="department" name="department">
              <option *ngFor="let department of departments" [value]="department.code">{{ department.name }}</option>
            </select>
          </div>
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.startDate" for="field_startDate">Ngày vào làm việc</label>
            <input
              style="background-color: #fff"
              class="form-control"
              type="text"
              mwlFlatpickr
              data-cy="startDate"
              id="field_startDate"
              name="startDate"
              formControlName="startDate"
              [dateFormat]="'d-m-Y'"
              [convertModelValue]="true"
            />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_closeDate">Ngày nghỉ việc</label>
            <input
              style="background-color: #fff"
              class="form-control"
              type="text"
              mwlFlatpickr
              data-cy="closeDate"
              id="field_closeDate"
              name="closeDate"
              formControlName="closeDate"
              [dateFormat]="'d-m-Y'"
              [convertModelValue]="true"
            />
          </div>

          <div class="row mb-3">
            <label class="form-label" jhiTranslate="qldvApp.employee.address" for="field_address">Địa chỉ</label>
            <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          </div>

          <div *ngIf="editForm.get('status')?.value === 'Nghỉ thai sản'" class="row mb-3">
            <label class="form-label" for="field_ngayNghiSinh">Ngày nghỉ sinh</label>
            <input
              style="background-color: #fff"
              class="form-control"
              type="text"
              mwlFlatpickr
              data-cy="ngayNghiSinh"
              id="field_ngayNghiSinh"
              name="ngayNghiSinh"
              formControlName="ngayNghiSinh"
              [dateFormat]="'d-m-Y'"
              [convertModelValue]="true"
            />
          </div>

          <!--                    <div class="row mb-3">-->
          <!--                      <label class="form-label">Loại hình dịch vụ</label>-->
          <!--                      <ng-select-->
          <!--                        id="field_serviceType"-->
          <!--                        formControlName="serviceType"-->
          <!--                        data-cy="serviceType"-->
          <!--                        name="serviceType"-->
          <!--                        class="form-select custom-ng-select"-->
          <!--                        [items]="serviceTypesCustom"-->
          <!--                        bindLabel="serviceName"-->
          <!--                        bindValue="id"-->
          <!--                        [searchable]="true"-->
          <!--                      >-->
          <!--                        <ng-template ng-option-tmp let-item="item">-->
          <!--                          <div class="option-row">-->
          <!--                            <div class="column">{{ item.serviceName }}</div>-->
          <!--                            <div class="column">{{ item.region }}</div>-->
          <!--                            <div class="column">{{ item.rank }}</div>-->
          <!--                            <div class="column">{{ item.basicSalary }}</div>-->
          <!--                          </div>-->
          <!--                        </ng-template>-->
          <!--                      </ng-select>-->
          <!--                    </div>-->
        </div>
      </div>
      <div class="row">
        <div style="margin-left: 4%" class="col-md-7">
          <div class="row mb-3">
            <label class="form-label">Loại hình dịch vụ</label>
            <ng-select
              formControlName="serviceType"
              data-cy="serviceType"
              name="serviceType"
              class="form-select custom-ng-select"
              [items]="serviceTypesCustom"
              bindLabel="serviceName"
              bindValue="id"
              [searchable]="true"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="option-row">
                  <div class="column">{{ item.serviceName }}</div>
                  <div class="column">{{ item.region }}</div>
                  <div class="column">{{ item.rank }}</div>
                  <div class="column">{{ item.basicSalary }}</div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="text-end" style="margin-bottom: 30px; margin-top: 20px">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-info btn-sm" (click)="previousState()">
          <span>Quay lại</span>
        </button>
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary btn-sm">
          <span>Lưu</span>
        </button>
        <button type="button" data-cy="entityCreateSaveButton" (click)="dieuChuyenSave()" class="btn btn-primary btn-sm">
          <span>Điều chuyển</span>
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #dieuchuyen let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Điều chuyển</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="saveDieuChuyen()"
      [formGroup]="editForm"
      (keydown.enter)="$event.preventDefault()"
    >
      <div class="row" style="margin-left: 1%">
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="qldvApp.employee.department" for="field_department">Phòng ban</label>
          <select class="form-select" id="field_department" formControlName="department" data-cy="department" name="department">
            <option *ngFor="let department of departments" [value]="department.code">{{ department.name }}</option>
          </select>
        </div>
        <div class="row mb-3">
          <label class="form-label">Loại hình dịch vụ</label>
          <ng-select
            id="field_serviceType"
            formControlName="serviceType"
            data-cy="serviceType"
            name="serviceType"
            class="form-select custom-ng-select"
            [items]="serviceTypesCustom"
            bindLabel="serviceName"
            bindValue="id"
            [searchable]="true"
          >
            <ng-template ng-option-tmp let-item="item">
              <div class="option-row">
                <div class="column">{{ item.serviceName }}</div>
                <div class="column">{{ item.region }}</div>
                <div class="column">{{ item.rank }}</div>
                <div class="column">{{ item.basicSalary }}</div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="row mb-3">
          <label class="form-label" for="field_ngayDieuChuyen">Ngày điều chuyển</label>
          <input
            style="background-color: #fff"
            class="form-control"
            type="text"
            mwlFlatpickr
            data-cy="ngayDieuChuyen"
            id="field_ngayDieuChuyen"
            name="ngayDieuChuyen"
            formControlName="ngayDieuChuyen"
            [dateFormat]="'d-m-Y'"
            [convertModelValue]="true"
          />
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">
        <span>Đóng</span>
      </button>
      <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">
        <span>Lưu</span>
      </button>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<jhi-toast #toast></jhi-toast>
