<div>
  <h4 id="page-heading" data-cy="EmployeeHeading">
    <span style="color: rgba(0, 81, 255, 0.85)">Lương</span>
    <div class="d-flex justify-content-end">
      <button (click)="create()" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary btn-sm">
        <span jhiTranslate="qldvApp.employee.home.createLabel"> Thêm </span>
      </button>
    </div>
  </h4>

  <div class="table-responsive" id="entities">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" style="width: 5%" jhiSortBy="id"><span>STT</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" style="width: 10%" jhiSortBy="codeEmployee"><span>Ngày tạo</span> <fa-icon icon="sort"></fa-icon></th>
          <th style="width: 20%" scope="col" jhiSortBy="name"><span>Tên bảng lương</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="month"><span>Tháng</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="year"><span>Năm</span> <fa-icon icon="sort"></fa-icon></th>
          <th style="width: 6%" class="text-center" scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salary of salarys; trackBy: trackId; let i = index" data-cy="entityTable">
          <td>{{ i + 1 }}</td>
          <td>{{ salary.createDate | formatDateVnPipe }}</td>
          <td>{{ salary.nameSalary }}</td>
          <td>{{ salary.month }}</td>
          <td>{{ salary.year }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/salary', salary.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(salary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let l of newArr(itemsPerPage - salarys.length)">
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="salarys && salarys.length > 0" class="d-flex justify-content-end">
    <div class="p-3 d-flex" style="justify-content: space-between">
      <select style="border-radius: 7%; height: 35px" [(ngModel)]="itemsPerPage" (change)="loadPage()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <div style="font-size: 20px; margin-right: 15px">
        <span style="width: 170px; padding-left: 20px; font-size: 15px">Tổng số: {{ this.totalItems }} </span>
      </div>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
        class=""
      ></ngb-pagination>
    </div>
  </div>
</div>

<ng-template #addSalary let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Thêm mới bảng lương</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form name="editForm" role="form" novalidate (ngSubmit)="saveSalary()" [formGroup]="editForm" (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-6">
          <div>
            <label class="form-label" for="field_createDate">Ngày tạo</label>
            <div class="input-group">
              <input
                type="text"
                style="background-color: white"
                mwlFlatpickr
                data-cy="createDate"
                id="field_createDate"
                name="createDate"
                formControlName="createDate"
                [convertModelValue]="true"
                class="form-control"
              />
            </div>
          </div>
          <div *ngIf="!editForm.get('isAttendance')?.value" class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="field_month">Tháng</label>
              <select class="form-select" id="field_month" formControlName="month" data-cy="month" name="month">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
                <option [value]="5">5</option>
                <option [value]="6">6</option>
                <option [value]="7">7</option>
                <option [value]="8">8</option>
                <option [value]="9">9</option>
                <option [value]="10">10</option>
                <option [value]="11">11</option>
                <option [value]="12">12</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="field_year">Năm</label>
              <input type="text" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
            </div>
          </div>
          <div *ngIf="!editForm.get('isAttendance')?.value">
            <label class="form-label" for="field_numberWork">Số ngày công trong tháng</label>
            <div class="input-group">
              <input
                class="form-control"
                type="number"
                name="numberWork"
                id="field_numberWork"
                data-cy="numberWork"
                formControlName="numberWork"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-3">
            <div>
              <label class="form-label" for="field_nameSalary">Tên bảng lương</label>
              <input
                type="text"
                class="form-control"
                name="nameSalary"
                id="field_nameSalary"
                data-cy="nameSalary"
                formControlName="nameSalary"
              />
            </div>
          </div>

          <div style="margin-top: 20px">
            <input
              type="checkbox"
              class="form-check-input"
              id="field_isAttendance"
              formControlName="isAttendance"
              data-cy="isAttendance"
              name="isAttendance"
            />
            <label class="form-label" for="field_isAttendance">Bảng lương theo bảng chấm công</label>
          </div>
          <div *ngIf="editForm.get('isAttendance')?.value">
            <label class="form-label" for="field_attendanceId">Bảng chấm công</label>
            <select class="form-select" id="field_attendanceId" formControlName="attendanceId" data-cy="attendanceId" name="attendanceId">
              <option *ngFor="let attendance of attendanceList" [value]="attendance.id">{{ attendance.name }}</option>
            </select>
          </div>
        </div>
        <div *ngIf="!editForm.get('isAttendance')?.value">
          <jhi-employee-box (employeesListOutput)="receiveMessage($event)"></jhi-employee-box>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">
        <span>Đóng</span>
      </button>
      <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">
        <span>Lưu</span>
      </button>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>
