<div>
  <h2>
    <span style="font-size: 20px">TÀI KHOẢN</span>
  </h2>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary jh-create-entity btn-sm" [routerLink]="['./new']">
      <span>Thêm</span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <!--          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col"><span>Tên đăng nhập</span></th>
          <th scope="col"><span>Họ và tên</span></th>
          <th class="text-center" scope="col"><span>Email</span></th>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"><span>Phân quyền</span></th>
          <th class="text-center" scope="col"><span>Phòng ban</span></th>
          <th class="text-center" scope="col"><span>Ngày tạo</span></th>
          <th class="text-center" scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
          <!--          <td>-->
          <!--            <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>-->
          <!--          </td>-->
          <td>{{ user.login }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Deactivated</button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              Activated
            </button>
          </td>
          <td class="text-center">
            <div *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </div>
          </td>
          <td class="text-center">{{ user.departmentName }}</td>
          <td class="text-center">{{ user.createdDate | date: 'dd/MM/yyyy' }}</td>
          <td class="text-end text-center">
            <div class="btn-group">
              <button type="button" (click)="viewUser(user)" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let l of newArr(itemsPerPage - users.length)">
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row"></td>
          <td class="text-center empty-row"></td>
          <td class="text-center empty-row"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="users && users.length > 0" class="d-flex justify-content-end">
    <div class="p-3 d-flex" style="justify-content: space-between">
      <select style="border-radius: 7%; height: 35px" [(ngModel)]="itemsPerPage" (change)="transition()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <div style="font-size: 20px; margin-right: 15px">
        <span style="width: 170px; padding-left: 20px; font-size: 15px">Tổng số: {{ this.totalItems }} </span>
      </div>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
        class=""
      ></ngb-pagination>
    </div>
  </div>

  <!--  <div *ngIf="users">-->
  <!--    &lt;!&ndash;    <div class="d-flex justify-content-center">&ndash;&gt;-->
  <!--    &lt;!&ndash;      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>&ndash;&gt;-->
  <!--    &lt;!&ndash;    </div>&ndash;&gt;-->

  <!--    <div class="d-flex justify-content-end">-->
  <!--      <ngb-pagination-->
  <!--        [collectionSize]="totalItems"-->
  <!--        [(page)]="page"-->
  <!--        [pageSize]="itemsPerPage"-->
  <!--        [maxSize]="5"-->
  <!--        [rotate]="true"-->
  <!--        [boundaryLinks]="true"-->
  <!--        (pageChange)="transition()"-->
  <!--      ></ngb-pagination>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
