<div class="d-flex justify-content-center">
  <div class="col-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 id="jhi-attendance-heading" data-cy="AttendanceCreateUpdateHeading" class="mb-0">Chấm công</h3>
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary btn-sm">
          <span>Lưu</span>
        </button>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row mb-3">
            <label class="form-label" for="field_employeeId">Nhân viên</label>
            <select
              class="form-select"
              id="field_employeeId"
              formControlName="employeeId"
              data-cy="employeeId"
              name="employeeId"
              [disabled]="true"
            >
              <option *ngFor="let e of employeeList" [value]="e.id">{{ e.name }}</option>
            </select>
            <!--            <input-->
            <!--              type="number"-->
            <!--              class="form-control"-->
            <!--              name="employeeId"-->
            <!--              id="field_employeeId"-->
            <!--              data-cy="employeeId"-->
            <!--              formControlName="employeeId"-->
            <!--            />-->
            <div *ngIf="editForm.get('employeeId')!.invalid && (editForm.get('employeeId')!.dirty || editForm.get('employeeId')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('employeeId')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('employeeId')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_month">Thời gian</label>
            <div class="input-group">
              <input
                id="field_month"
                data-cy="month"
                type="text"
                class="form-control"
                name="month"
                ngbDatepicker
                #inTimeDp="ngbDatepicker"
                formControlName="month"
              />
              <button type="button" class="btn btn-secondary" (click)="inTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_note">Ghi chú</label>
            <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row mb-3">
            <label class="form-label" for="field_count">Số ngày chấm công</label>
            <input type="number" class="form-control" name="note" id="field_count" data-cy="count" formControlName="count" />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_countNot">Số ngày chưa chấm</label>
            <input type="number" class="form-control" name="countNot" id="field_countNot" data-cy="countNot" formControlName="countNot" />
          </div>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-end">
      <button (click)="addDetails(attendance)" type="submit" class="btn btn-primary btn-sm">
        <span>Thêm chi tiết</span>
      </button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 5%"><span>STT</span></th>
          <th style="width: 20%">
            <span>Ngày chấm công</span>
          </th>
          <th style="width: 20%">
            <span>Thời gian đến</span>
          </th>
          <th style="width: 15%">
            <span>Thời gian về</span>
          </th>
          <th><span>Ghi chú</span></th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendanceDetail of attendanceDetails; let i = index" data-cy="entityTable">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ attendanceDetail.time | formatDateVnPipe }}</td>
          <td>{{ attendanceDetail.inTime }}</td>
          <td>{{ attendanceDetail.outTime }}</td>
          <td>{{ attendanceDetail.note }}</td>
          <td class="text-end">
            <button type="submit" (click)="view(attendanceDetail)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
            </button>
            <div class="btn-group">
              <button (click)="delete(attendanceDetail)" type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let l of newArr(10 - attendanceDetails.length)">
          <td class="text-center empty-row" style="width: 50px">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #addDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Chi tiết chấm công</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form name="editForm" role="form" novalidate (ngSubmit)="saveDetail()" [formGroup]="editFormDetail">
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-3">
            <label class="form-label" for="field_month">Ngày chấm công</label>
            <div class="input-group">
              <input
                type="text"
                mwlFlatpickr
                data-cy="time"
                id="field_time"
                name="time"
                formControlName="time"
                [convertModelValue]="true"
                [dateFormat]="'d/m/Y'"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_month">Thời gian đến</label>

            <div class="input-group">
              <input
                type="text"
                mwlFlatpickr
                data-cy="inTime"
                id="field_inTime"
                name="inTime"
                formControlName="inTime"
                [noCalendar]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [time24hr]="true"
                [dateFormat]="'H:i'"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_month">Thời gian về</label>
            <div class="input-group">
              <input
                type="text"
                mwlFlatpickr
                data-cy="outTime"
                id="field_outTime"
                name="outTime"
                formControlName="outTime"
                [noCalendar]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                [time24hr]="true"
                [dateFormat]="'H:i'"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_note">Ghi chú</label>
            <div class="input-group">
              <input type="text" name="note" id="field_note" data-cy="note" formControlName="note" />
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">
        <span>Đóng</span>
      </button>
      <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">
        <span>Lưu</span>
      </button>
    </form>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<ng-template #deleteDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Thông báo</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">Xóa thành công</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">
      <span>Đóng</span>
    </button>
    <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">
      <span>Xóa</span>
    </button>
  </div>
</ng-template>
