<h4>
  <span style="color: rgba(0, 81, 255, 0.85)">Bảng chấm công tháng {{ attendance.month }} năm {{ attendance.year }}</span>
</h4>
<div class="row g-2">
  <div class="col-md-2">
    <input
      (keyup.enter)="reLoad()"
      [(ngModel)]="searchCode"
      class="form-control"
      style="height: 30px"
      type="search"
      placeholder="Mã nhân viên"
      aria-label="Tìm kiếm"
    />
  </div>
  <div class="col-md-2">
    <input
      (keyup.enter)="reLoad()"
      [(ngModel)]="searchName"
      class="form-control"
      style="height: 30px"
      type="search"
      placeholder="Họ và tên"
      aria-label="Tìm kiếm"
    />
  </div>
  <div class="col-md-2">
    <select class="form-select" [(ngModel)]="searchDepartment" (change)="reLoad()">
      <option value=""></option>
      <option [value]="'TTKDCNS'">TTKDCNS</option>
      <option [value]="'Phòng Tổng Hợp'">Phòng Tổng Hợp</option>
      <option [value]="'Phòng KDDVVT'">Phòng KDDVVT</option>
      <option [value]="'Phòng CSKH'">Phòng CSKH</option>
      <option [value]="'Phòng Kế toán'">Phòng Kế toán</option>
      <option [value]="'MobiFone tỉnh Phú Thọ'">MobiFone tỉnh Phú Thọ</option>
      <option [value]="'MobiFone tỉnh Vĩnh Phúc'">MobiFone tỉnh Vĩnh Phúc</option>
      <option [value]="'MobiFone tỉnh Yên Bái'">MobiFone tỉnh Yên Bái</option>
      <option [value]="'MobiFone tỉnh Lào Cai'">MobiFone tỉnh Lào Cai</option>
      <option [value]="'MobiFone tỉnh Hòa Bình'">MobiFone tỉnh Hòa Bình</option>
      <option [value]="'MobiFone tỉnh Sơn La'">MobiFone tỉnh Sơn La</option>
      <option [value]="'MobiFone tỉnh Sơn La'">MobiFone tỉnh Sơn La</option>
      <option [value]="'MobiFone tỉnh Điện Biên'">MobiFone tỉnh Điện Biên</option>
      <option [value]="'MobiFone tỉnh Lai Châu'">MobiFone tỉnh Lai Châu</option>
      <option [value]="'MobiFone tỉnh Hà Nam'">MobiFone tỉnh Hà Nam</option>
      <option [value]="'MobiFone tỉnh Ninh Bình'">MobiFone tỉnh Ninh Bình</option>
      <option [value]="'MobiFone tỉnh Nam Định'">MobiFone tỉnh Nam Định</option>
      <option [value]="'MobiFone tỉnh Hà Giang'">MobiFone tỉnh Hà Giang</option>
      <option [value]="'MobiFone tỉnh Tuyên Quang'">MobiFone tỉnh Tuyên Quang</option>
    </select>
  </div>
</div>
<div *ngIf="isEdit === false" class="d-flex justify-content-end">
  <button style="margin-top: 10px; margin-bottom: 20px; margin-right: 5px" (click)="exportToExcel()" class="btn btn-danger btn-sm">
    <span>Export</span>
  </button>
  <button style="margin-top: 10px; margin-bottom: 20px; margin-right: 5px" (click)="edit()" class="btn btn-secondary btn-sm">
    <span>Sửa</span>
  </button>

  <button style="margin-top: 10px; margin-bottom: 20px" (click)="close()" class="btn btn-dark btn-sm">
    <span>Đóng</span>
  </button>
</div>
<div></div>
<div class="d-flex justify-content-end" *ngIf="isEdit == true">
  <button style="margin-top: 10px; margin-right: 5px; margin-bottom: 20px" class="btn btn-primary btn-sm" (click)="onSubmit()">
    <span>Lưu</span>
  </button>
  <button style="margin-top: 10px; margin-bottom: 20px" (click)="close()" class="btn btn-dark btn-sm">
    <span>Đóng</span>
  </button>
</div>

<form [formGroup]="form">
  <div style="max-height: 650px; width: 100%; overflow-x: auto; overflow-y: auto; white-space: nowrap">
    <table class="table lh-table-column--bytes table-bordered">
      <thead style="background-color: #3b3e66; color: white; position: sticky; top: 0; z-index: 1000">
        <tr>
          <th style="width: 50px; position: sticky; left: 0; z-index: 2; background: #3b3e66"><span>STT</span></th>
          <th style="min-width: 240px !important; position: sticky; left: 45px; z-index: 2; background: #3b3e66"><span>Nhân viên</span></th>
          <th style="width: 140px !important; background: #3b3e66">
            <span>Mã nhân viên</span>
          </th>
          <th style="min-width: 140px !important"><span>Đơn vị</span></th>
          <th style="min-width: 240px !important"><span>Loại hình</span></th>
          <th style="min-width: 90px !important">Ngày 1</th>
          <th style="min-width: 90px !important">Ngày 2</th>
          <th style="min-width: 90px !important">Ngày 3</th>
          <th style="min-width: 90px !important">Ngày 4</th>
          <th style="min-width: 90px !important">Ngày 5</th>
          <th style="min-width: 90px !important">Ngày 6</th>
          <th style="min-width: 90px !important">Ngày 7</th>
          <th style="min-width: 90px !important">Ngày 8</th>
          <th style="min-width: 90px !important">Ngày 9</th>
          <th style="min-width: 90px !important">Ngày 10</th>
          <th style="min-width: 90px !important">Ngày 11</th>
          <th style="min-width: 90px !important">Ngày 12</th>
          <th style="min-width: 90px !important">Ngày 13</th>
          <th style="min-width: 90px !important">Ngày 14</th>
          <th style="min-width: 90px !important">Ngày 15</th>
          <th style="min-width: 90px !important">Ngày 16</th>
          <th style="min-width: 90px !important">Ngày 17</th>
          <th style="min-width: 90px !important">Ngày 18</th>
          <th style="min-width: 90px !important">Ngày 19</th>
          <th style="min-width: 90px !important">Ngày 20</th>
          <th style="min-width: 90px !important">Ngày 21</th>
          <th style="min-width: 90px !important">Ngày 22</th>
          <th style="min-width: 90px !important">Ngày 23</th>
          <th style="min-width: 90px !important">Ngày 24</th>
          <th style="min-width: 90px !important">Ngày 25</th>
          <th style="min-width: 90px !important">Ngày 26</th>
          <th style="min-width: 90px !important">Ngày 27</th>
          <th style="min-width: 90px !important">Ngày 28</th>
          <th *ngIf="checkMonth === 31 || checkMonth === 30 || checkMonth === 29" style="min-width: 90px !important">Ngày 29</th>
          <th *ngIf="checkMonth === 31 || checkMonth === 30" style="min-width: 90px !important">Ngày 30</th>
          <th style="min-width: 90px !important" *ngIf="checkMonth === 31">Ngày 31</th>
          <th style="min-width: 90px !important">Số công hưởng lương</th>
          <th style="min-width: 90px !important">Số ngày làm việc trong tháng</th>
        </tr>
      </thead>
      <tbody formArrayName="details">
        <tr *ngFor="let detail of details.value; let i = index; trackBy: trackId" [formGroupName]="i">
          <td style="position: sticky; left: 0; z-index: 2; background: white">{{ i + 1 }}</td>

          <td style="position: sticky; left: 45px; z-index: 2; background: white">
            <span>{{ detail.employeeName }}</span>
          </td>
          <td style="background: white">
            <span>{{ detail.employeeCode }}</span>
          </td>
          <td style="background: white">
            <span>{{ detail.department }}</span>
          </td>

          <td style="background: white">
            <span>{{ detail.serviceTypeName }}</span>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day1 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day1 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day1"
              formControlName="day1"
              data-cy="day1"
              name="day1"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day2 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day2 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day2"
              formControlName="day2"
              data-cy="day2"
              name="day2"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day3 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day3 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day3"
              formControlName="day3"
              data-cy="day3"
              name="day3"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day4 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day4 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day4"
              formControlName="day4"
              data-cy="day4"
              name="day4"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day5 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day5 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day5"
              formControlName="day5"
              data-cy="day5"
              name="day5"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day6 === 'off' ? '#e84e3d' : '' }">
            <select
              [ngStyle]="{ 'background-color': detail.day6 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              style="border: none"
              class="form-select"
              id="field_day6"
              formControlName="day6"
              data-cy="day6"
              name="day6"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day7 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day7 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day7"
              formControlName="day7"
              data-cy="day7"
              name="day7"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day8 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day8 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day8"
              formControlName="day8"
              data-cy="day8"
              name="day8"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day9 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day9 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day9"
              formControlName="day9"
              data-cy="day9"
              name="day9"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day10 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day10 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day10"
              formControlName="day10"
              data-cy="day10"
              name="day10"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day11 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day11 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day11"
              formControlName="day11"
              data-cy="day11"
              name="day11"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day12 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day12 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day12"
              formControlName="day12"
              data-cy="day12"
              name="day12"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day13 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day13 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day13"
              formControlName="day13"
              data-cy="day13"
              name="day13"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day14 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day14 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day14"
              formControlName="day14"
              data-cy="day14"
              name="day14"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day15 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day15 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day15"
              formControlName="day15"
              data-cy="day15"
              name="day15"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day16 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day16 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day16"
              formControlName="day16"
              data-cy="day16"
              name="day16"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day17 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day17 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day17"
              formControlName="day17"
              data-cy="day17"
              name="day17"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day18 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day18 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day18"
              formControlName="day18"
              data-cy="day18"
              name="day18"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day19 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day19 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day19"
              formControlName="day19"
              data-cy="day19"
              name="day19"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day20 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day20 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day20"
              formControlName="day20"
              data-cy="day20"
              name="day20"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day21 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day21 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day21"
              formControlName="day21"
              data-cy="day21"
              name="day21"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day22 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day22 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day22"
              formControlName="day22"
              data-cy="day22"
              name="day22"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>
          <td [ngStyle]="{ 'background-color': detail.day23 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day23 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day23"
              formControlName="day23"
              data-cy="day23"
              name="day23"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day24 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day24 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day24"
              formControlName="day24"
              data-cy="day24"
              name="day24"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day25 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day25 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day25"
              formControlName="day25"
              data-cy="day25"
              name="day25"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day26 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day26 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day26"
              formControlName="day26"
              data-cy="day26"
              name="day26"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day27 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day27 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day27"
              formControlName="day27"
              data-cy="day27"
              name="day27"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td [ngStyle]="{ 'background-color': detail.day28 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day28 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day28"
              formControlName="day28"
              data-cy="day28"
              name="day28"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td
            *ngIf="checkMonth === 31 || checkMonth === 30 || checkMonth === 29"
            [ngStyle]="{ 'background-color': detail.day29 === 'off' ? '#e84e3d' : '' }"
          >
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day29 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day29"
              formControlName="day29"
              data-cy="day29"
              name="day29"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td *ngIf="checkMonth === 31 || checkMonth === 30" [ngStyle]="{ 'background-color': detail.day30 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day30 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day30"
              formControlName="day30"
              data-cy="day30"
              name="day30"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td *ngIf="checkMonth === 31" [ngStyle]="{ 'background-color': detail.day31 === 'off' ? '#e84e3d' : '' }">
            <select
              style="border: none"
              [ngStyle]="{ 'background-color': detail.day31 === 'off' ? '#e84e3d' : '' }"
              [ngStyle]="{ 'pointer-events': !isEdit ? 'none' : '' }"
              class="form-select"
              id="field_day31"
              formControlName="day31"
              data-cy="day31"
              name="day31"
            >
              <option [value]="'+'">+</option>
              <option [value]="'-'">-</option>
              <option [value]="'L'">L</option>
            </select>
          </td>

          <td>
            <input
              [readOnly]="true"
              style="border: none; background-color: white"
              type="number"
              class="form-control"
              name="paidWorking"
              id="field_paidWorking"
              data-cy="paidWorking"
              formControlName="paidWorking"
            />
          </td>

          <td>
            <input
              [readOnly]="true"
              style="border: none; background-color: white"
              type="number"
              class="form-control"
              name="numberWork"
              id="field_numberWork"
              data-cy="numberWork"
              formControlName="numberWork"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<jhi-toast #toast></jhi-toast>
