<div class="row">
  <div class="col-md-3 card-3d d-flex">
    <div class="image-container">
      <img class="img-fluid" src="../../../content/images/nhanvien.png" />
    </div>
    <div class="text-container">
      <span class="title">Tổng số nhân viên</span>
      <span class="value text-center">{{ count }}</span>
    </div>
  </div>
  <div class="col-md-3 card-3d d-flex">
    <div class="image-container">
      <img class="img-fluid" src="../../../content/images/xoaphong.png" />
    </div>
    <div class="text-container">
      <span class="title">Số nhân viên đang làm việc</span>
      <span class="value text-center">{{ countDLV }}</span>
    </div>
  </div>
</div>
<div style="margin-top: 100px" class="row">
  <div class="col-md-3">
    <div style="display: block; height: 450px" class="card-3d">
      <div><span class="title">Phân loại nhân viên theo nhóm</span></div>
      <div style="display: flex; align-items: center">
        <label style="width: 150px" class="form-label">Chọn thời gian</label>
        <input
          [(ngModel)]="searchTime"
          (ngModelChange)="onDateChange()"
          style="background-color: #fff"
          class="form-control"
          type="text"
          mwlFlatpickr
          [dateFormat]="'d-m-Y'"
          [convertModelValue]="true"
        />
      </div>

      <div style="position: relative; margin-top: 40px">
        <canvas baseChart [data]="lineChartDataByGroup" [options]="lineChartOptionsGroup" [type]="'doughnut'"> </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div style="display: block; height: 450px" class="card-3d">
      <div><span class="title">Phân loại nhân viên theo trạng thái </span></div>

      <div style="display: flex; align-items: center">
        <label style="width: 150px" class="form-label">Chọn thời gian</label>
        <input
          [(ngModel)]="searchTimeStatus"
          (ngModelChange)="onDateChangeStatus()"
          style="background-color: #fff"
          class="form-control"
          type="text"
          mwlFlatpickr
          [dateFormat]="'d-m-Y'"
          [convertModelValue]="true"
        />
      </div>

      <div style="position: relative; margin-top: 40px">
        <canvas baseChart [data]="lineChartDataByStatus" [options]="lineChartOptionsGroup" [type]="'doughnut'"> </canvas>
      </div>
    </div>
  </div>
  <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="col-md-6">
    <div style="display: block; height: 450px" class="card-3d">
      <div><span class="title">Phân loại nhân viên theo đơn vị</span></div>
      <div>
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'bar'"> </canvas>
      </div>
    </div>
  </div>
</div>
