.card-3d {
  background: #ffffff; /* Màu nền */
  padding: 20px;
  margin: 20px;
  border-radius: 15px; /* Bo góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Đổ bóng */
  display: flex; /* Bố cục ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-3d:hover {
  transform: translateY(-10px); /* Hiệu ứng nổi khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 30px rgba(0, 0, 0, 0.25);
}

/* Container cho ảnh */
.image-container {
  margin-right: 20px; /* Khoảng cách giữa ảnh và text */
}

.image-container img {
  height: 120px;
  width: 120px;
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

/* Container cho text */
.text-container {
  margin-left: 1%;
  display: flex;
  flex-direction: column; /* Xếp chồng các dòng text */
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px; /* Cách dòng dưới */
}

.value {
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 128, 255, 0.85); /* Màu xanh */
}
