<div class="row">
  <div class="col-md-3 card-3d d-flex">
    <div class="image-container">
      <img class="img-fluid" src="../../../content/images/nhanvien.png" />
    </div>
    <div class="text-container">
      <span class="title">Tổng số nhân viên</span>
      <span class="value text-center">100</span>
    </div>
  </div>
  <div class="col-md-3 card-3d d-flex">
    <div class="image-container">
      <img class="img-fluid" src="../../../content/images/chamcong.webp" />
    </div>
    <div class="text-container">
      <span class="title">Số nhân viên đã chấm công</span>
      <span class="value text-center">18</span>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div style="width: 800px; height: 500px; margin-top: 100px">
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true"> </canvas>
</div>
